/* GLOBAL */
*{
    box-sizing: border-box;
}
html, body{
    font-family:'Work Sans', sans-serif;
}
.heading{
    margin-bottom: 3rem;
    text-align: center;
}
.heading h2{
    font-size: 40px;
    letter-spacing: .5px;
    font-weight: bold;
    color: #FF627E;
}
.heading p{
    font-size: 17px;
    letter-spacing: 4px;
    /* in hoa chu cai dau tien cua moi tu */
    text-transform: capitalize;
    color: black;
}
.heading p::after{
    content: '';
    width: 70px;
    height: 2px;
    background-color: black;
    display: block;
   margin: 20px auto;
}
.section{
    padding: 5rem 0;
}
.heading--white p{
    color: white;
}
/* HEADER */

.header__top{
    width: 100%;
    background-color: #FF627E;
    font-size: 14px;
    /* display: flex;
    justify-content: space-between; */
}
.header__right, .header__left{
    padding: 15px 15px;
}
.header__top a{
    color: white;
    text-decoration: none;
    transition: all .5s;
    /* margin: 0 8px; */
}
.header__top .header__left a:hover{
    color: black;
}
.header__top .header__right a:hover{
    color: #FF627E;
}
.header__right a{
    width: 30px;
    height: 30px;
    background-color: black;
    border: 1px solid black;
     /* để chỉnh kích thước icon */
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 0.25rem;
}

/* NAVBAR */
.navInstruction a{
    color: black;
}
.navInstruction .navbar-brand p:first-child{
    font-size: 30px;
    font-weight: bold;
}
.navInstruction .navbar-brand p:first-child i{
    /* Chỉnh độ nghiêng của icon */
    transform: skewX(-10deg);
}
.navInstruction .navbar-brand p:nth-child(2){
    font-size: 11px;
    color: #FF627E;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 0;
}
#navbarInstruction .nav-item{
    margin: 0 15px;
}
#navbarInstruction .nav-item::after{
    /* Khi sài after bắt buộc phải có content */
    content: "";
    width: 0%;
    height: 2px;
    background-color: #FF627E;
    display: block;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover::after{
    width: 100%;
}
#navbarInstruction .nav-link{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover .nav-link{
    color: #FF627E;
}
.navInstruction .navbar-toggler{
    color: #FF627E;
    background-color: black;
    border-radius: 0;

}
.navInstruction .navbar-toggler:focus{
    outline: none;
}
/* 2 class đc gắn cho cùng 1 thẻ (.nav-item.active)*/
#navbarInstruction .nav-item.active .nav-link{
    color: #FF627E;
}
#navbarInstruction .nav-item.active::after{
    width: 100%;
}
#navbarInstruction .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}
#navbarInstruction .dropdown-item{
    color: white;
    transition: all .5s;
}
#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover{
    background-color: transparent;
    color: #FF627E;
}

/* CAROUSEL */
#carouselCyber .carousel-caption{
    /* chỉ áp dụng với thẻ có position: absolute*/
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#carouselCyber .carousel-caption h1{
    font-size: 52px;
}
#carouselCyber .carousel-caption p{
    letter-spacing: 4px;
    line-height: 1.8em;
    width: 70%;
    margin: 0 auto 25px;
    font-weight: 300;
}
#carouselCyber .carousel-caption button{
    padding: 11px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all .5s;
}

#carouselCyber .carousel-caption button:hover{
    background-color: #FF627E;
    border: 1px solid #FF627E;
}
/* WELCOME */
/* thẻ p là con trực tiếp */
.Welcome .welcome__content>p{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0 5rem;
    font-size: 15px;
    /* 1em = 15px (đi theo font-size thẻ gần nhất)*/
    line-height: 1.8em;
    color: #999;
    letter-spacing: 1px;
}
.welcom__item i{
    font-size: 2rem;

}
.welcom__item h3{
    font-size: 1.8rem;
    color: #FF627E;
    margin: 1rem 0;
    font-weight: bold;
}
.welcom__item h4{
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 0.2rem;
}
.welcom__item p{
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
    letter-spacing: 1px;
}
.welcom__col{
    padding: 2rem;
}
 /* OUR STATS */
.ourStats{
    background-image: url("../img/banner2.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.ourStats__content{
    text-align: center;
}
.ourStats__item i{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}
.ourStats__item h3{
    color: #FF627E;
    padding: 30px 0 20px;
    font: 1.3rem;
    font-weight: bold;
    letter-spacing: 3px;
}
.ourStats__item p{
    color: white;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 2px;
}

/* OFFER */
.offer__col{
    padding: 15px;
  
}
.offer__item{
    text-align: center;
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    background-color: white;
    transition: all .5s;
}
.offer__item i{
    color: #FF627E;
    font-size: 40px;

}
.offer__item h3{
    font-size: 20px;
    color: black;
    margin: 25px 0 20px;
}
.offer__item p{
    font-size: 14px;
    letter-spacing: 1px;
    color: #6b6b6b;
}
.offer__item:hover{
    background-color: #12ccc3;
} 
 /* FEEDBACK */
 .feedback{
    /* background-image: url("../img/banner3.jpg");
    background-position: center; */
    background: url("../img/banner3.jpg") center;
    background-attachment: fixed;
    background-size: cover;
}
.feedback__content{
    padding: 1rem;
    box-shadow: 0px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
}
.feedback__content .item{
    padding: 0 1rem;
    color: white;
}
.feedback__top{
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47);
    position: relative;
}
.feedback__top::after{
    content: '';
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: 100%;
    left: 30%;
}
.feedback__content .feedback__bottom img{
    width: 28%;
    display: inline-block;
   
}
.feedback__bottom{
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 2rem auto;
}
.feedback__name p{
    margin: 0;
    color: #FF627E;
}
.feedback__name{
    margin-left: 5px;
}
.feedback__name p:first-child{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;

}
/* NEWS */
.news__content img{
    border: 2px solid #dedede;
}
.news__content h3{
    font-size: 1.2rem;
    font-weight: bold;

}
.news__content a{
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    transition: all .5s;

}
.news__content a:hover{
    color: #FF627E;
}

.news .news__content h4{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FF627E;
    margin: 1rem 0;
}
.news__content p{
    color: #999;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: 0.9rem;

}
.news__content .row:last-child{
    margin-top: 5rem;
}

/* MODAL */
#cyberModal h5{
    font-size: 29px;
    color: #FF627E;
    font-weight: bold;
}
#cyberModal p{
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}
#cyberModal .modal-dialog{
    max-width: 600px;
}
/* FOOTER */
footer{
    background-color: #141415;
    padding: 5rem 0 0;
}
.footer__top h3{
    color: #FF627E;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}
.footer__top p{
    color: #8b8b96;
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.footer__link, .footer__contact{
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
}
.footer__link i{
    color: #FF627E;
    margin-right: 1rem;

}
.footer__link a, .footer__contact a{
    color: #8b8b96;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.5em;
    margin-left: 10px;
}
.footer__contact i{
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    color: white;
    line-height: 32px;
    text-align: center;
}
.footer__form label{
    color: #FF627E;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;

}
.footer__form input{
    padding: 14px;
    border-radius: 0;
    border: none;
    color: #888;
    letter-spacing: 1px;
    height: auto;
}
.footer__form button{
    background-color: #FF627E;
    padding: 12px 15px;
    letter-spacing: 1px;
    border-radius: 0;
    color: white;
    outline: none;

}
.footer__form{
    margin-top: 3rem;
}

.footer__bottom{
    text-align: center;
    padding: 1rem 0;
    color: white;
    background-color: #000;
}
.footer__bottom a{
    color: #FF627E;
    
}
.footer__bottom{
    margin-top: 100px;
}

/* ********************RESPONSIVE**********************/
/* HEADER */
@media screen and (max-width:1199.98px) {
    /* Carousel */
    #carouselCyber .carousel-caption{
        top: 50%;
        z-index: 0;
    }
    #carouselCyber .carousel-caption h1{
        font-size: 4vw;
    }
    #carouselCyber .carousel-caption  p{
        font-size: 1.6vw;
        margin-bottom: 0.5em;
        line-height: 1.8em;
    }
    #carouselCyber .carousel-caption button{
        font-size: 1.5vw;
        padding: 0.8em 1em;
    }
}
@media screen and (max-width:991.98px) {
    .navInstruction .navbar-brand p:first-child{
        font-size: 3vw;
    }
    .navInstruction .navbar-brand p:last-child{
        font-size: 1.5vw;
    }
} 
@media screen and (max-width: 767.98px) {
    #navbarInstruction .navbar-nav{
        background-color: #eee;
        text-align: center;
    }
    #navbarInstruction .dropdown-menu{
        background-color: #e0e1e2;
        text-align: center;
        border-color: #e0e1e2;
    }
    #navbarInstruction .dropdown-item{
        color: black;
    }
}
@media screen and (max-width:575.98px){
    /* GLOBAL */
    .heading p{
        padding: 0 15px;
    }
    /* HEADER */
    .header__left a{
        display: block;
    }

}
@media screen and (max-width: 414px) {
    #carouselCyber{
        height: 250px;
    }
    #carouselCyber .carousel-inner, #carouselCyber .carousel-item, #carouselCyber .carousel-item img{
        height: 100%;
    }
    #carouselCyber .carousel-item img{
        object-fit: cover;
    }
}
@media screen and (max-width:376px){
    .feedback__content .feedback__bottom{
        width: 100%;
    }
}
@media screen and (max-width:320px){
    .header__right{ 
        width: 35%;
        text-align: center;
    }
    .header__right a{
        margin-bottom: 5px;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    #navbarInstruction .nav-item{
        padding: 0 2px;
        margin: 0;
    }
    #navbarInstruction .nav-link{
        font-size: 12px;
        padding: 5px;

    }
}
@media screen and (min-width:576px) and (max-width:1199px) {
    .feedback__content .feedback__bottom{
        width: 88%;
    }
}
